@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: rgb(17, 86, 102);
  --primary-color-darker: rgb(9, 48, 56);
}

* {
  box-sizing: border-box;
  outline: 0;
}

body {
  margin: 0;
  padding: 0;
  background: var(--primary-color);
  font-family: 'Open sans', sans-serif;
  font-size: 1.2em;
  line-height: 1.5em;
}

.container {
  text-align: center;
  max-width: 640px;
  margin: 50px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
}

span {
  display: block;
}

.table {
  text-align: initial;
  display: flex;
  justify-content: space-around;
  padding-bottom: 2rem;
}

.calc {
  text-align: initial;
}

.lower {
  background-color: rgb(179, 255, 0);
}
.greater {
  background-color: rgb(50, 250, 0);
}
.above {
  background-color: rgb(238, 255, 0);
}
.ob1 {
  background-color: rgb(255, 208, 0);
}
.ob2 {
  background-color: rgb(255, 153, 0);
}
.ob3 {
  background-color: rgb(255, 0, 0);
  color: white;
}

.badway {
  background-color: brown;
  color: white;
}

form input, form label, form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

form input {
  font-size: 24px;
  height: 50px;
  padding: 0 20px;
}

form input:focus {
  outline: 1px solid var(--primary-color);
}

form button {
  border: none;
  background: var(--primary-color);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  height: 50px;
  cursor: pointer;
  margin-top: 30px;
}

form button:hover {
  background: var(--primary-color-darker);
}
